<% include _cover %>

<!-- header class="site-header">
    <a class="blog-logo" href="/"><img src="/images/logo.svg" alt="Blog Logo" /></a>
</header -->
<main class="site-content" role="main">

    <article class="post tag-text tag-formatting">


        <section class="post-content">

                    <%- post.content %>

        </section>
    </article>

</main>
